*{
    margin: 0%;
}
.book{
    /* height:600px !important; */
    width: 100% !important;
    position: relative !important;
}

.menu{
    font-family:'Times New Roman', Times, serif !important;
    color: white !important;
    display: flex !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    justify-content: space-between !important;
    column-gap: 50px !important;
    list-style-type: none !important;
}
.menu:hover{
    color: burlywood !important;
    text-underline-position: below !important;
}

.caro{
    top: 30%;
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight:900;
    font-size: 70px;
}
.carousel-caption{
     top: 300px !important;
} 
.head{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
    font-size: 50px;
}
.para{
    font-family: serif;
    color: gray !important;
}
.type{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
}
.imagess{
    height: 600px !important;
    width: 100% !important;
    object-fit: cover !important;
}
.image2{ 
    position: relative;
} 
 .dom{
    position:absolute;
    bottom: 0%;
    right: 0%;
    background-color: white;
    color: black;
    object-fit: cover;
    border: 50px;
    /* font-size: 30px; */
    padding: 35px;
    font-family:Arial, Helvetica, sans-serif;
} 
.para{
    font-family: 'Times New Roman', Times, serif;
  
}
.chat{
    font-family: 'Times New Roman', Times, serif;
color: gray;
}
.dominica{
    font-family:'Times New Roman', Times, serif!important;
    font-weight: 200 !important;
    font-size: 70px !important;
}
.two{
    border-right: 1px solid grey;
    padding: 25px !important;
}
.dancer{
    height: 800px;
    width: 100%; 
}
/* .dancer:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) !important;
    transition-delay: 1s !important;
} */
/* .books{
    padding: 50px;
    border: 40px;
    width:150px ;
} */
.fight{
    border-radius: 0% !important ;
    border: 1px;
    /* padding: 5px !important; */
    column-gap: 10px !important;
}
 .robo{
    padding: 50px;
 }
 .img_robo{
    object-fit: cover !important;
    position: relative;
 }
 .bat{
    position:absolute;
    top: 0%;
    left: 0%;
    padding: 45px;
 }
 .word{
    font-family:'Times New Roman', Times, serif 
    font-size: 15px;
font-weight: 400;
}
.video{
    object-fit: cover;

}
.book{
    justify-content: space-between;
}
.lap{
    font-family: 'Times New Roman', Times, serif;
}
.dancing{
    /* height: 300px;
    width: 100%; */
    object-fit: cover;
    position: relative;
}
/* .dancing:hover{
    
} */
.pose{
    position: absolute;
    top: 0%;
    background-color: white;
    color: grey;
    padding: 15px;
    height: 90px;
    width: 60px;

}
.source{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    padding: 10px;
}
.press_1{
    background-color:transparent !important;
    color: black !important;
    border-radius:0% !important;
    padding: 20px !important;
    height: 70px !important;
    width: 200px;
    border: 0% !important;
    margin-right: 20px !important;
    border: 2px solid black !important;
}
.press_11{
    background-color: transparent;
    color:black !important;
    border-radius: 0% !important;
    padding: 8px !important;
    height: 70px !important;
    width: 200px !important;
    border: 2px solid black !important;
    /* border: 1px !important; */
}
.press{
    justify-content: space-between;
    height: 200px;
    column-gap: 20px;  
    padding: 10px;
}
.press1{
    background-color:transparent !important;
    color:white!important;
    border-radius:0% !important;
    padding: 20px !important;
    height: 70px !important;
    width: 200px;
    border: 1% !important;
    margin-right: 20px !important;
}
.press1:hover,.press_1:hover{
    background-color: black !important;
    color: white !important;
    transition-duration: calc(10px) !important;
}
.press11,.press_11:hover{
    background-color: black !important;
    color: white !important;
    border-radius: 0% !important;
    padding: 8px !important;
    height: 70px !important;
    width: 200px !important;
    border: 1px !important;
}
.press11:hover{
    background-color: black !important;
    color: white !important;
    transition-duration: calc(10px) !important;

}
.lap_1{
    background-color: transparent;
    color:black !important;
    border-radius: 0% !important;
    padding: 5px !important;
    height: 60px !important;
    width: 180px !important;
    border: 1% !important;
}
.lap_1:hover{
    background-color: black !important;
    color: white !important;
    transition-duration: calc(10px) !important;
}
.lap_11{
    background-color:rgb(210, 202, 202) !important;
    color:black !important;
    border-radius: 0% !important;
    padding: 5px !important;
    height: 60px !important;
    width: 180px !important;
    border: 2px solid black !important;
}
.lap_11:hover{
    background-color:black!important;
    color: white !important;
    border-radius: 0% !important;
    padding: 5px !important;
    height: 60px !important;
    width: 180px !important;
    border: 2px solid black !important;
}
.dell_1{
        /* background-color: transparent; */
        color:black !important;
        border-radius: 0% !important;
        padding: 5px !important;
        height: 50px !important;
        width: 150px !important;
        /* border: 1% !important; */
}
.dell_1:hover{
    background-color: black !important;
    color: white !important;
    transition-duration: calc(10px) !important;
}
.dell_11{
    background-color:rgb(210, 202, 202) !important;
    color:black !important;
    border-radius: 0% !important;
    padding: 5px !important;
    height: 50px !important;
    width: 150px !important;
    border: 2px solid black!important;
}
.dell_11:hover{
    background-color:black!important;
    color: white !important;
    border-radius: 0% !important;
    padding: 5px !important;
    height: 50px !important;
    width: 150px !important;
    border: 2px solid black !important;
}
.press_2{
    background-color: black !important;
    color:white !important;
    border-radius: 0% !important;
    padding: 5px !important;
    height: 60px !important;
    width: 180px !important;
    border: 2px solid black !important;
    margin-left: 35% !important;
}
.press_2:hover{
    background-color: white !important;
    color: black !important;
    transition-duration: calc(10px) !important;
}


.cpu_img{
    position: relative !important;
    /* height: 700px !important;
    width: 100% !important;
    object-fit: cover; */
}
.mouse{
    position: absolute !important;
    top: 30%;
    left: 25%;
    color: white;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 80px !important; */
}
.mouse1{
    font-size: 80px !important;
    font-weight: 600 !important;
}
.press2{
    background-color: white !important;
    color: black !important;
    border-radius:0% !important;
    padding: 8px !important;
    height: 50px !important;
    width: 150px;
    border: 0% !important;    
}
.press2:hover{
    background-color: black !important;
    color: white !important;
}
.bike{
    height: 200px !important;
    width: 100% !important;
    justify-content: center !important;

}
/* .bike:hover{
    transform: translateZ(1s) !important;
} */

.comp{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px !important;
    font-weight: 800 !important;

}
.save{
    /* display: flex !important; */
    align-items: center !important;
    padding: 100px !important;
    border-radius: 0% !important;
    /* border: 1px solid gray !important; */
    height: 600px !important;
    width: 100% !important;
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.oreo{
    font-size: 40px !important;
    font-weight: 600 !important;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    /* align-items: center !important; */
}
.save{
    border-bottom: 15px !important;
}
.border{
    border-top: 0px !important;
    border-radius: 0% !important;
    margin-top: 80px !important;
    margin-left: 100px !important;
    width: 80% !important;
    outline: 0 !important;

}
/* .object{
    object-fit: cover !important;
} */
.actor_1{
    height: 400px !important;
    width: 300 !important;
    object-fit: cover;
}
/* .actor_1:hover{
    backface-visibility: hidden !important;
    transition-duration: 3s !important;
} */
.actor_2{
    height: 300px !important;
    width:250px !important ;
    object-fit: cover;
}
.actor_3{
    height: 250px !important;
    width: 250px !important;
    object-fit: cover;
}
.actor_4{
    height: 200px !important;
    width: 300 !important;
    object-fit: cover;
}
.actor_5{
    height: 200px !important;
    width: 250px !important;
    margin-top: 130px !important;
    object-fit: cover;
}
.actor_6{
    height: 400px !important;
    width: 250px !important;
    margin-top: 40px !important;
    object-fit: cover;
    margin-bottom: 10px !important;
}
.actor_7{
    height: 380px !important;
    width: 250px !important;
    margin-top: 20px !important;
    object-fit: cover !important;
    
}
.actor_8{
    height: 400px !important;
    width: 250px !important;
    /* margin-top: 0px !important; */
    object-fit: cover !important;
}
.space{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-weight: 800 !important;
    font-size: 25px !important;
}
/* .awesome{
    height: 50px !important;
    width: 50px !important;
    object-fit: cover !important;
    
}



.device{
    width: 40px;
    height: 40px;
    background-color:hotpink;
    position: fixed;
    top:60%;
    right: 0;
} */
.pen{
    color: grey !important;
    padding: 120px !important;
    border-right: 1px  solid grey !important;
    align-items: center !important;
    font-size: 80px !important;
}
.pen1{
    color: grey !important;
    padding: 120px !important;
    border-left: 1px  solid grey !important;
    border-right: 1px  solid grey !important;
    font-size: 80px !important;

}
.pen:hover,.pen1:hover{
    color: black !important;
    transition:1s;
}
.logo{
    position: absolute !important;
    top: 10% !important;
    left: 60px !important;
}
.end_1{
    background-color: black !important;
    color: gray;
    position: relative;
    padding: 120px !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 15px !important;
    column-gap: 100px !important;
    justify-content: space-between !important;
    top: 10% !important;
}
.end{
    list-style-type: none !important;
    column-gap: 10px !important;
    right: 20px !important;
    
}
.map{
    height: 100px !important;
    width: 100px !important;
}
.over{
   background-color: black !important;
   color: white !important;
}
.big{
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 70px !important;
    font-weight:600 !important;
    
}